{:tasks
 {:requires ([babashka.fs :as fs])

  test {:doc "Run tests"
        :task (apply clojure "-M:test" *command-line-args*)}

  kaocha {:doc "Run kaocha tests"
          :task (apply clojure "-M:kaocha" *command-line-args*)}

  nrepl {:doc "Start REPL"
         :task (if (fs/windows?)
                 (clojure "-M:nrepl")
                 (shell "rlwrap bb clojure -M:nrepl"))}

  install {:doc "Install jar"
           :task (clojure "-T:build install")}

  uber {:doc "Build uberjar"
        :task (clojure "-T:build uber")}}}
